@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
@import "../fonts/fonts.css";
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.navbar-brand {
    font-family: 'Circular Std';
    font-weight: bold;
    font-style: normal;
    color: black;
    font-size: 200%;
}

.navbar-menu {
    font-family: 'Circular Std Book';
    color: black;
}

.hero {
    background-color: #F5F5F5;
    border-radius: 0% 50% 50% 0%;
    width: 75%;
    padding: 0% 10%;
    font-family: 'Circular Std';
    font-weight: 900;
    font-style: normal;
    position: relative;
}

.hero-subtitle {
    text-transform: uppercase;
    color: #6F6F6F;
}

.hero-title {
    font-size: 5vw;
    font-family: 'Circular Std';
    font-weight: bold;
    font-style: normal;
    color: black;
}

.landing-section {
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.notification {
    padding: 0;
}

.tab-container {
    display: none;
}

.tab-container.is-active {
    display: flex;
}

.hvr-rectangle-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #2098D1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-rectangle-in:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e1e1e1;
    color: #2098D1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 290486px;
    padding-left: calc(1em + .25em);
    padding-right: calc(1em + .25em);
}

.hvr-rectangle-in:hover,
.hvr-rectangle-in:focus,
.hvr-rectangle-in:active {
    color: white;
}

.hvr-rectangle-in:hover:before,
.hvr-rectangle-in:focus:before,
.hvr-rectangle-in:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}