@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
@import "fonts.css";
html {
    scroll-behavior: smooth;
}

.navbar-brand {
    font-family: 'Circular Std';
    font-weight: bold;
    font-style: normal;
    color: black;
    font-size: 200%;
}

.navbar-menu {
    font-family: 'Circular Std Book';
    color: black;
}

.hero {
    background-color: #F5F5F5;
    border-radius: 0% 50% 50% 0%;
    width: 75%;
    padding: 0% 10%;
    font-family: 'Circular Std';
    font-weight: 900;
    font-style: normal;
}

.hero-subtitle {
    text-transform: uppercase;
    color: #6F6F6F;
}

.hero-title {
    font-size: 5vw;
    font-family: 'Circular Std';
    font-weight: bold;
    font-style: normal;
    color: black;
}

.landing-section {
    padding: 0;
    background-image: url("../pics/Art.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.notification {
    padding: 0;
}

.tab-container {
    display: none;
}

.tab-container.is-active {
    display: flex;
}